<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1019897075494-jduott4lgi59q2jcv67mpk8cbj2dflhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019897075494-jduott4lgi59q2jcv67mpk8cbj2dflhe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019897075494-l12doduk0o5l22oo0geehs85aomb57ei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7-mapBOxj6YieuY32lDgK4osqY35OSRk</string>
	<key>GCM_SENDER_ID</key>
	<string>1019897075494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.animalparty.apple</string>
	<key>PROJECT_ID</key>
	<string>animalparty-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>animalparty-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019897075494:ios:57d3857965cabf98</string>
	<key>DATABASE_URL</key>
	<string>https://animalparty-mobile.firebaseio.com</string>
</dict>
</plist>